body{
    background-color: rgb(75, 75, 126);
}
.form1{
    width: 80%;
    height: 80vh;
    background-color:  rgb(54, 54, 91);
    margin: auto;
}
#inp1{
    width: 80%;
    height: 6vh;
    border-radius: 10px;
}
#btn1{
    width: 150px;
    height: 30px;
}
#lbl1{
    font-size: 30pt;
    color: white;
}
#lbl2{
    font-size: 30pt;
    margin-top: 20px;
    color:white;
}
.div1{
   width: 80%;
   height: 7vh;
   background-color: rgb(26, 26, 57);
}